body {
    background-image: url(/assets/images/parchment-background.jpg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Container sizing code taken from "sunshine guessing" by aleksandracodes and styled accordingly*/
#game-container {
    position: relative;
    text-align: center;
    width: 80%;
    height: 80%;
    max-height: 30rem;
    max-width: 50rem;
    box-sizing: border-box;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px 2px #171515;
    padding: 1%;
    border-radius: 5px;
    background-color: black;
    color: #afa7a7;
    font-family: 'Pixelify Sans', cursive;
}

@media (max-width: 576px){
#game-container {
    top: 42%;
    height: 80%;
    width: 90%;
}
}

h1 {
    letter-spacing: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-75%);
}

/* Game Text Box */
#game-text {
    position: absolute;
    height: 300px;
    width: 60%;
    bottom: 15px;
    left: 15px;
    margin: 10px;
    background-color: #afa7a7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.btn-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, auto);
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    margin: 10px;
}

.btn {
    height: max-content;
    width: 100px;
    margin: 5px;
}

/*Inventory*/
#inventory {
    width: 150px;
    height: 90%;
    background-color: #0072b1;
    right: 15px;
    position: absolute;
    border-radius: 5px;
    margin: 10px;
}

/*Footer*/
footer {
    width: 100vw;
    height: 40px;
    position: fixed;
    bottom: 0px;
    margin: 0;
}

.copyright {
    display: inline;
    padding-left: 5%;
    font-size: x-large;
}

.socials {
    display: inline;
    float: right;
    padding-right: 5%;
    letter-spacing: 10px;
    font-size: x-large;
}

.socials
a {
    color: black;
}

.linked:hover {
    color: #0072b1;
}

.git:hover {
    color: #6e5494;
}