body {
    background-image: url(/assets/images/parchment-background.jpg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

/* Viewport sizing code from "sunshine guessing" by aleksandracodes*/
#viewport {
    position: absolute;
    text-align: center;
    width: 80%;
    height: 30rem;
    max-height: 30rem;
    max-width: 50rem;
    box-sizing: border-box;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    padding: 1%;
    background-color: black;
    color: #afa7a7;
    font-family: 'Pixelify Sans', cursive;
}

@media (max-width: 390px){
#viewport {
    top: 42%;
    height: 80%;
    width: 90%;
}
}

h1 {
    letter-spacing: 2px;
}

/*Footer*/
footer {
    width: 100vw;
    height: 40px;
    position: fixed;
    bottom: 0px;
    margin: 0;
}

.copyright {
    display: inline;
    padding-left: 5%;
    font-size: x-large;
}

.socials {
    display: inline;
    float: right;
    padding-right: 5%;
    letter-spacing: 10px;
    font-size: x-large;
}

.socials
a {
    color: black;
}

.linked:hover {
    color: #0072b1;
}

.git:hover {
    color: #6e5494;
}